@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scrollbar scrollbar-thumb-primary scrollbar-track-transparent;
}

*::-webkit-scrollbar-thumb {
  border-left: 12px transparent solid;
  background-clip: padding-box;
  @apply rounded-full;
}

.btn-default {
  @apply min-h-[44px] font-montserrat font-black duration-150 sm:active:scale-[97.5%] flex items-center justify-center gap-2 sm:hover:bg-primary/20;
}
.btn-default-menu {
  @apply min-h-[44px] font-montserrat font-black duration-150 sm:active:scale-[97.5%] items-center justify-center gap-2 sm:hover:bg-primary/20;
}

h1 {
  @apply font-montserrat font-black text-2xl text-content3;
}
.glowing-border {
  @apply after:content-[""] after:absolute after:bg-background/90 after:inset-[2px] after:rounded-xl after:z-[-1]  after:duration-150;
}

p {
  @apply text-sm  sm:text-base;
}

.rotationalpanelborder {
  animation: rotational 8s 1s linear infinite;
}
@keyframes rotational {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 32s linear infinite;
}

@keyframes spin-slow {
  to {
    transform: rotate(-360deg);
  }
}
